<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Manager</title>
    <link rel="stylesheet" href="/author.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="logo">BIMS</h1>
      </header>

      <section class="sidebar">
        <ul>
          <li><a href="/author">Authors</a></li>
          <li><a href="/">Books</a></li>
          <li><a href="/genre">Genres</a></li>
        </ul>
      </section>

      <main class="main">
        <div class="main-heading">
          <h2>Welcome to The Book Inventory Management System</h2>
        </div>

        <div class="authors-container">
          <h2>List of authors:</h2>
          <form action="/author" method="GET">
            <input
              type="text"
              id="search"
              name="search"
              placeholder="Search Authors"
              value="<%= searchTerm || '' %>"
            />
            <button type="submit">search</button>
          </form>

          <%if(authors.length === 0) { %>
          <p><%= message %></p>
          <% } else { %>
          <table class="author-table">
            <thead>
              <th>Author</th>
              <th>Birthdate</th>
              <th>Bio</th>
            </thead>
            <tbody>
              <% authors.forEach(author => { %>
              <tr>
                <td><%= author.name%></td>
                <td><%= new Date(author.birth_date).getFullYear()%></td>
                <td><%= author.bio%></td>
                <td><a href="/author/<%= author.id %>/edit">Edit</a></td>
              </tr>

              <%})%>
            </tbody>
          </table>
          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
