<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Manager</title>
    <link rel="stylesheet" href="/genre.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="logo">BIMS</h1>
      </header>

      <section class="sidebar">
        <ul>
          <li><a href="/author">Authors</a></li>
          <li><a href="/">Books</a></li>
          <li><a href="/genre">Genres</a></li>
        </ul>
      </section>

      <main class="main">
        <div class="main-heading">
          <h2>Welcome to The Book Inventory Management System</h2>
        </div>

        <div class="genre-container">
          <h2>List of Genres:</h2>

          <form action="/genre" method="GET">
            <input
              type="text"
              id="search"
              name="search"
              placeholder="Search Genres"
              value="<%= searchTerm || '' %>"
            />
            <button type="submit">Search</button>
          </form>
          <% if(genres.length === 0) {%>
          <p><%= message || "No Genres Found"%></p>
          <%} else { %>
          <table class="genre-table">
            <thead>
              <th>Genres</th>
            </thead>
            <tbody>
              <% genres.forEach(genre =>{%>

              <tr>
                <td><%= genre.name %></td>
                <td><a href="/genre/<%= genre.id %>/edit">Edit</a></td>
                <td>
                  <form action="/genre/<%= genre.id %>/delete" method="post">
                    <button type="submit">Delete</button>
                  </form>
                </td>
              </tr>

              <% })%>
            </tbody>
          </table>
          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
