<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Manager</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="logo">BIMS</h1>
      </header>

      <section class="sidebar">
        <ul>
          <li>Books</li>
          <li>Genre</li>
          <li>Author</li>
        </ul>
      </section>

      <main class="main">
        <div class="main-heading">
          <h2>Welcome to The Book Inventory Management System</h2>
          <p>Below is a list of the of our current books</p>
        </div>

        <div class="book-container">
          <h2>List of books:</h2>

          <% if (books.length === 0){ %>
          <p><%= message || "No Books Found!" %></p>
          <% } else { %>
          <div class="book-holder">
            <% books.forEach(book => { %>
            <div class="holder">
              <h2 class=""><%= book.title %></h2>
              <p><%= book.author %></p>
              <p><%= book.description %></p>
              <p><%= book.isbn %></p>
              <p><%= book.published %></p>
              <p><%= book.quantity %></p>
              <p><%= book.price %></p>
            </div>
            <% }) %>
          </div>
          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
