<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Manager</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="logo">BIMS</h1>
      </header>

      <section class="sidebar">
        <ul>
          <li><a href="/author">Authors</a></li>
          <li><a href="/">Books</a></li>
          <li><a href="/genre">Genres</a></li>
        </ul>
      </section>

      <main class="main">
        <div class="main-heading">
          <h2>Welcome to The Book Inventory Management System</h2>
        </div>

        <div class="book-container">
          <h2>List of books:</h2>

          <% if (books.length === 0){ %>
          <p><%= message || "No Books Found!" %></p>
          <% } else { %>
          <table class="book-table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>ISBN</th>
                <th>Year Published</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <% books.forEach(book => { %>
              <tr>
                <td><%= book.title %></td>
                <td><%= book.description %></td>
                <td><%= book.isbn %></td>
                <td><%= new Date(book.published).getFullYear() %></td>
                <td><%= book.quantity %></td>
                <td><%= book.price %></td>
              </tr>
              <% })%>
            </tbody>
          </table>

          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
